*pycache*
log*/

.vscode/
unimals_100


output/*
*.egg-info

*.pkl
output_copy/*
eval/*

*.log
*.STL
*.pt
tensorboard/*

output_basic2/*
output_basic3/*
output_base/*
output_basic/*
output_basic4/*
output_basic4_copy/*
output_unitree/*
output_logs/*